# BINNING DATA

### Algoritmo del método de transformación de variables numericas a categoricas Equal Width

#### La transformación de variables es una forma de hacer que los datos funcionen mejor en un modelo

###### Elaboró Thelma Rangel y Hugo Godínez

###### En el presente ejemplo tenemos datos numericos de las calificaciones del primer y segundo parcial de un alumno de 8vo semestre de Matemáticas Aplicadas y Computación de la FES Acatlán  y queremos categorizar estos datos para darle un mensaje final dependiendo de sus calificaciones.

In [1]:
import pandas as pd

###### Cargamos los datos

In [2]:
misDatos = {
    "materias" : ["mineria de datos", "seguridad computacional", "robotica","paralela"],
    "parcial_1": [3.1, 6.6, 8.9 ,8.0],
    "parcial_2": [9.4, 10.0 , 2.2 , 5.4]
}

df = pd.DataFrame(misDatos,
                  index = pd.Index(['A','B','C','D'], name= 'letra'),
                  columns = pd.Index(['materias', 'parcial_1','parcial_2'], name = 'atributos')
                 )

In [3]:
df

atributos                 materias  parcial_1  parcial_2
letra
A                 mineria de datos        3.1        9.4
B          seguridad computacional        6.6       10.0
C                         robotica        8.9        2.2
D                         paralela        8.0        5.4

###### Definimos las particiones(BINS)

###### (2 - 4), (4 - 6), (6- 8), (8 - 10)

In [4]:
bins = [2, 4, 6, 8, 10]

In [5]:
bins

[2, 4, 6, 8, 10]

###### Mostramos el mensaje dependiendo de en cual bin se encuentra

In [6]:
resultado_calificacion = ['ni en sueños pasas', 'solo que sepas rezar','maso menos', 'OK crack']

##### Resultado de las calificaciones del parcial 1

In [7]:
df['Resultado'] = pd.cut(df['parcial_1'], bins, labels = resultado_calificacion )

In [8]:
df

atributos                 materias  parcial_1  parcial_2           Resultado
letra
A                 mineria de datos        3.1        9.4  ni en sueños pasas
B          seguridad computacional        6.6       10.0          maso menos
C                         robotica        8.9        2.2            OK crack
D                         paralela        8.0        5.4          maso menos

##### Resultados de las calificaciones del parcial 2

In [9]:
df['Resultado'] = pd.cut(df['parcial_2'], bins, labels = resultado_calificacion )

In [10]:
df

atributos                 materias  parcial_1  parcial_2             Resultado
letra
A                 mineria de datos        3.1        9.4              OK crack
B          seguridad computacional        6.6       10.0              OK crack
C                         robotica        8.9        2.2    ni en sueños pasas
D                         paralela        8.0        5.4  solo que sepas rezar

###### Mineria de Datos

###### Profesor: Jacobo Gerardo González León

###### UNAM